main {
  display: flex;
  flex-direction: column;
}

.title-home {
  display: flex;
  margin-top: 0.5em;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 4em;
}

.searcher-home {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 0 5% 1.5% 2%;
  align-items: center;
}
