.input-search {
  border-radius: 18px;
  border: 3px solid black;
  height: 100%;
  width: 15vw;
  font-size: 17px;
  font-family: monospace;
}

.search-container {
  height: 6vh;
}

::placeholder {
  font-size: 17px;
  font-family: monospace;
}
